.header{
    width: 100%;
    height: 50px;
    padding: 10px 0;
}

.header img{
    margin-left: 20%;
}
.menu{
    height: 30px;
    width: 100%;
    background: #DE0000;
    color: #fff;
    font-size: 21px;
    cursor: default;
}

.menu ul{
    margin-left: 20%;
    display: inline-block;
}

.menu li{
    display: inline-block;
    padding: 0 20px 0 0;

}
.menu li a{
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}
.menu li a:hover{
    cursor: pointer;
    color: #333;
    -webkit-transition: 0ms;
    -moz-transition: 0ms;
    -ms-transition: 0ms;
    -o-transition: 0ms;
    transition: 0ms;
}

.events{
    width: 60%;
    margin: 0 auto;
}

.text-box{
    margin-top: 40px;
    height: auto;
    min-height: 200px;
    border: 1px solid #000;
    padding: 5px;
    position: relative;
}

.text-box h1{
    color: #a7a7a7;
    line-height: 30px;
    font-size: 20px;
}
.text-box h2{
    line-height: 30px;
    font-size: 18px;
    color: #000;
}
.text-box p{
    padding: 10px 0;
    font-size: 15px;
}
.events a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    /*color: initial;*/
    background: #0850A0;
    color: #fff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 5px;
    border:none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.events a:hover{
background: #0b3263;
cursor: pointer;
}
label.headLabel{
    display: block;
}


