.header{
    width: 100%;
    height: 500px;
    background: url('../img/header.jpg') no-repeat center right;
    background-size: cover;
    border-bottom: 2px solid #000;
}
.header-text{
    position: absolute;
    width: 100%;
    top: 25%;
}
.header-text h1{
    font-size: 60px;
    color: #003681;
    text-align: center;
    cursor: default;
}

.header-text .red{
    color: #DE0000;
    display: inline;
}

.header-text h2{
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-style: italic;
}

.menu{
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    font-size: 21px;
    cursor: default;
    color: #fff;
    z-index: 10;
}

.menu ul{
    position: absolute;
    display: inline-block;
    left: 20%;
}
.menu li{
    display: inline-block;
    padding: 15px 20px 0 0;

}

.menu li a{
    color: #FFF;
    text-decoration: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
}
.menu li a:hover{
    cursor: pointer;
    color: #c6c6c6;
    -webkit-transition: 0ms;
    -moz-transition: 0ms;
    -ms-transition: 0ms;
    -o-transition: 0ms;
    transition: 0ms;
}

.menu img{
    position: absolute;
    right: 30px;
}

.logout{
    position: absolute;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 15px 0 0 5px;
}


.events{
    width: 60%;
    margin: 0 auto;
}

.text-box{
    background: #fff;
    margin-top: 40px;
    height: auto;
    min-height: 200px;
    border: 1px solid #000;
    padding: 5px;
    position: relative;
}

.text-box h1{
    color: #a7a7a7;
    line-height: 30px;
    font-size: 20px;
}
.text-box h2{
    line-height: 30px;
    font-size: 18px;
    color: #000;
}
.text-box p{
    padding: 10px 0;
    font-size: 15px;
}
.events .rightBottom{

    position: absolute;
    bottom: 10px;
    right: 5px;
}
.events .button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    /*color: initial;*/
    background: #0850A0;
    color: #fff;
    padding: 5px;
    border:none;
    border-radius: 5px;
}
.events .button:hover{
background: #0b3263;
cursor: pointer;
}
label.headLabel{
    display: block;
}
.succes, .error{
    display: block;
    padding: 5px;
    color: #FFF;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #FFF;
}
.succes{
    background: #5cb85c;
    border-color: #4cae4c;
}
.error{
    background: #d9534f;
    border-color: #d43f3a;
}

input, textarea{
    padding: 5px;
}
select{
    padding: 3px 5px;
}
option{
    padding: 2px 5px;
}
label{
    font-weight: 600;
    padding: 5px 0;
}
.trueFalse label{
    font-weight: 100;
}