




#apollo{
    position: fixed;
    width: 300px;
    height: auto;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    /*background: #34393D;*/
    /*background: #FFFFFF;*/
    /*-ms-transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#apollo form{
    position: relative;
    width: 100%;
    height: 100%;
}
#apollo .errors{
    position: relative;
    background: rgba(136,0,0,1);
    border-radius: 10px;
    padding: 12px 20px;
    margin: 2px;
    width: auto;
    color: #FFF;
}
#apollo #endEmail{
    position: absolute;
    top: 40px;
    left: 25px;
    background: #333;
    color: #FFF;
    padding: 5px;
    font-size: 12px;
    z-index: 9;
    display: none;
    cursor: pointer;
}
#apollo #endEmail:hover{
    background: #222;
}
#apollo .input-block{
    position: relative;
    padding: 12px 20px;
    /*background: #1C1D21;*/
    background: #979797;
    color: #6c727d;
    display: block;
    width: 235px;
    z-index: 5;
    margin: 4px 0;

    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
#apollo .input-block input{
    position: relative;
    /*background: #1C1D21;*/
    background: #979797;
    /*color: #6c727d;*/
    color: #000000;
    border: none;
    width: 230px;
    z-index: 5;
}
#apollo .input-block input:focus{
    outline: none;
}
#apollo .input-block.first{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*#apollo .first input{*/
    /*width: 120px;*/
/*}*/
#apollo .bg-left-side{

    position: absolute;
    top: 10px;
    width: 235px;
    /*background: #1C1D21;*/
    border-left: solid 20px #1C1D21;
    border-right: solid 20px #1C1D21;
    border-left: solid 20px #979797;
    border-right: solid 20px #979797;
    height: auto;
    left: 0;
    bottom: 60px;
    z-index: 1;
}
#apollo .extra{
    position: absolute;
    top: auto;
    width: 230px;
    /*border-left: solid 20px #1C1D21;*/
    /*border-left: solid 20px #979797;*/
    height: 8px;
    left: 20px;
    z-index: 2;
    bottom: 96px;
}
#apollo .buttonToClick::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    background: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#apollo .buttonToClick{
    position: absolute;
    top: auto;
    right: 0;
    background: #333;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
    bottom: 76px;
}
#apollo .buttonToClick::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    background: url('../img/caret_right.png') #979797;
    background-size: 10px auto;
    background-position: 20px;
    background-repeat: no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#apollo #button{
    display: none;
}

#apollo .buttonToClick:hover::before{
    /*border-color: #43484c;*/
    background: #747474;
}
#apollo .buttonToClick:hover ~ .extra{
    /*background: #43484c;*/
    background: #747474;
}
#apollo #register{
    position: relative;
    width: 100px;
    /*color: #595f6b;*/
    color: #080a0e;
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 13px;
    padding: 5px 0;
    text-align: center;
    /*background: #1C1D21;*/
    background: #979797;
    left: 175px;
    top: -4px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
#apollo #register:hover{
    background: #43484c;
    background: #747474;
    color: #000;
}
#apollo .forgot{
    position: relative;
    top: -27px;
    width: 177px;
    height: 23px;
    line-height: 23px;
    color: #333;
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 13px;
    text-align: center;
}
#apollo .forgot a{
    color: #4a4e59;
    cursor: pointer;
    text-decoration: underline;
}
#apollo .input-block.reg{
    display: none;
}
#forgotWindow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #EEE;
    z-index: 10;
    overflow: hidden;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -ms-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms;
}

#forgotWindow input{
    position: relative;
    left: 5px;
    top: 11px;
    width: 289px;
    padding: 10px;
}

#forgotWindow input[name="back"]{
    position: relative;
    left: 5px;
    top: 14px;
    width: 289px;
    padding: 10px;
}
#forgotWindow .username{
    position: relative;
    left: 6px;
    top: 7px;
    width: 265px;
    padding: 10px;
}